/* Importing Google Font Here. */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Main Styling Here */
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  background: #f4f4f4;
}
.container{
  max-width: 1100px;
  margin: 1.5rem auto;
  padding: 1.5rem;
}
.text-center{
  text-align: center;
}
.commands{
  max-width:70%;
  margin: auto;
  background: #eee;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
}
.actions{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.actions h3{
  font-weight: bolder;
  color:rgb(158, 158, 245);
}
.btn{
  background: rgba(118,130,183,);
  text-decoration: none;
  padding: 0.75rem;
  cursor: pointer;
}

/* News Card Styling Here */
.title{
  text-align: center;
  margin: 50px 0;
}
.title h5{
  color:var(--primary-color);
  text-transform: uppercase;

}
.column-card{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5rem 0;
}

.card{
  width: 30%;
  background: #f4f4f4;
  border-radius: 10px;
  margin: 1rem;
  border: 2px solid #ddd;
}
.card .active{
  border-bottom: 5px solid rgb(134, 134, 245);
}
.card img{
  width:100%;
}
.panel{
  padding: 5%;
  box-shadow: 0px 0px 18px -8px rgba(118,130,183,);
  border-radius: 10px;
}
span.date{
  color: var(--primary-color);
  font-weight: 700;
}
@media (max-width: 769px){
  .column-card{
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
  }
  .card{
    width:85%;
  }
}